.constructor {
	display: flex;
}
.element__section {
	display: flex;
	align-items: center;
	min-height: 100%;
	flex-direction: column;
	flex: 1 1 35%;
}
.element__bg {
	min-width: 100%;
	margin: 50px 0;
	display: flex;
	justify-content: center;
}
.element__element {
	width: 120px;
	height: 60px;
	background: #f20000;
	color: #fafafa;
	cursor: pointer;
}
.element__code {
	border: 2px solid #fff;
	border-radius: 15px;
	background: #31322c;
	width: 80%;
	margin: 40px 0 100px 0;
}
.element__settings {
	width: 25%;
	background-color: #bfbfbf;
}
.element__element.transparent-active {
	background: transparent !important;
}
.button__color-output.transparent-active,
#button__color.transparent-active {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.3;
}

.code {
	display: flex;
	padding: 10px;
}
.main-class{
	max-width: 50%;
}