.footer{
  height: 3.4em;
  border-top: 1px solid #303030;
  display: flex;
  align-items: center;
}
.footer__wrap {
  padding: 0 1.33em;
}

.social__links {
  display: flex;
  gap: 1.33em;
}

.social__links .link {
  color:#303030;
  position: relative;
  z-index: 4;
  background: #bfbfbf;
  display: flex;
  align-items: center;
  padding: 2px;
  transition: all 0.3s ease;
}
.social__links .link:after{
  content: "";
  left: 0px;
  top: 0px;
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  z-index: -1;
  background-color: #bfbfbf;
  filter: blur(1px);
}
.social__links .link:before{
  content: "";
  left: 5px;
  bottom: 5px;
  position: absolute;
  width: 90%;
  height: 20%;
  z-index: -2;
  background-color: #303030;
  transition: all 0.3s ease;
}
.social__links .link:hover:before{
  width: calc(100% + 4px);
  left: -2px;
  bottom: -2px;
}