
.button__shadow {
	display: flex;
	width: auto;
	flex-direction: column;
	position: relative;
}
.button__shadow-block {
	position: relative;
	transition: all 0.3s ease;
	display: none;
}
.button__shadow-block.active{
	display: block;
}
.add__shadow {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 1px #000000;
}
.add__shadow svg {
  width: 14px;
  height: 14px;
}
.add__shadow:hover {
	background-color: #2bee30;
	box-shadow: 0 0 2px 1px #fff;
}
.add__shadow:active {
	background-color: #4f9af7;
	box-shadow: 0 0 2px 1px #80f479, 0 0 2px 1px #e9fde8 inset;
	text-shadow: 0 0 3px #fff;
}
.add__shadow.inactive{
	cursor: not-allowed;
	opacity: 0.3;
	pointer-events: none;
}
/*.range{
	width: 80%;
}*/
.input__color {
	display: flex;
	margin: 5px 0;
}
.show-hide {
	position: absolute;
	right: 0;
	top: 40px;
	width: 20px;
	height: 20px;
	background: url('../img/material-symbols_delete.png') 50% / contain no-repeat;
	transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.3;
}
.show-hide:hover{
	opacity: 1;
}
button[data-hide='0']{
	display:none;
}
.shadow__x-txt,
.shadow__y-txt,
.shadow__blur-txt,
.shadow__spread-txt {
	position: relative;
}
.shadow__x-txt:before,
.shadow__y-txt:before,
.shadow__blur-txt:before,
.shadow__spread-txt:before {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	right: -25px;
	font-size: 16px;
	color: #282923;
}
.shadow__x-txt:before {
	content: "X";
}
.shadow__y-txt:before {
	content: "Y";
}
.shadow__blur-txt:before {
	content: "Blur";
}
.shadow__spread-txt:before {
	content: "Spread";
}


.shadow__tabs{
	width: 100%;
	height: 22px;
	display: flex;
	border-bottom: 1px solid #000; 
}
.tab{
	width: 100%;
	height: 100%;
	border-left: 1px solid #000;
	border-top: 1px solid #000; 
	border-right: 1px solid #000;  
	display: flex;
	align-items: center;
	border-radius: 3px 8px 0 0;
	cursor: pointer;
	opacity: 0.6;
}
.tab:hover{
	background: #b0b0b0;
	opacity: 1;
}
.tab.active{
	background: #bfbfbf;
	opacity: 1;
}
.tab__color{
	width: 11px;
	height: 11px;
	border-radius: 50%;
	border: 1.5px solid #fff;
	margin-left: 2px;
	background: #000;
	box-shadow: 0 0 3px 0 #000;
	pointer-events: none;
}
.button__shadow-block.active{
	visibility: visible;
	z-index: 4;
}